In [1]:
def get_my_chosun_name(family_name, month, day):

    month_names = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']
    
    day_names = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']
    
    month_index = month - 1 
    day_index = day - 1  
 
    chosun_name = family_name + month_names[month_index] + day_names[day_index]
    
    return f"당신의 조선시대 이름은 {chosun_name} 입니다."

r = get_my_chosun_name('안', 9, 18)
print(r)

당신의 조선시대 이름은 안칠걸 입니다.

In [4]:
#결과값 다른 예시
r = get_my_chosun_name('김',10,25)
print(r)

당신의 조선시대 이름은 김갑창 입니다.